a.due-date-button.button-gray.is-editable(
    href=""
    due-date="dueDate"
    due-date-reason="dueDateReason"
    ng-disabled="isClosed"
    ng-class="status"
    title="{{ title }}"
)
    tg-svg(svg-icon="icon-clock")
