a.due-date-button.button-gray.is-editable(
    href=""
    due-date="dueDate"
    due-date-reason="dueDateReason"
    tg-check-permission="add_us"
    title="{{ 'ISSUES.ACTION_SET_DUE_DATE' | translate }}"
)
    tg-svg(svg-icon="")
